.input-container-signup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}

.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-right: 2vw;
    margin-left: 2vw;
}

.footer-signup{
    width: 100%;
    height: 14vh;
    background: #28427B;
}